section{
	margin-bottom: 20px; 
}

input[type=submit] { 
	margin-top: 10px; 
	font-size: 18px;
     height: 35px; 
    width: 120px; 
} 

div{
	margin-top: 100px;
}
a{
	text-decoration: none;
	color: rgb(17, 0, 255);
	font-size: 18px;
}

a:hover {
	color: rgb(55, 2, 141)
}