body {
    background-color:#d2d9df;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    text-align: center;
    font-size: 70px;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cuerpo{
	margin-top: 5%; 
	font-family: Tahoma, Geneva, sans-serif;
}

#footer {
    background: #000;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    margin: 0px;
    bottom: 0px;
}

.info {
    font-size: smaller;
    color: #fff;
    margin:0px;
    width: 25%;
    float: left;
}
