section{
	margin-bottom: 20px; 
}

input[type=submit] { 
	margin-top: 30px; 
	font-size: 18px;
	height: 35px; 
    width: 120px; 
} 

a{
	text-decoration: none;
	font-size: 18px;

}

.Titulo{
	text-align: center;
	width: 25%;
	border-color: #444b53;
    border-width: 8px;
    border-style: double;
}